.container {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}


.header {
  background-color: #001c64;
  color: white;
  padding: 15px;
  text-align: left;

}

.container button {
  background-color: #001c64;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.container button:hover {
  background-color: #0070e0;
}

.container input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #333;
  background-color: #ddd;
  color: #333;
}
